<div>
    <header>
        {{{header}}}
    </header>
    <main class="profileBlock">
        <section class="FIOBlock">
            <img src="https://via.placeholder.com/150"
                 alt="avatar"
                 class="profileAvatar"/>
            <div class="FIOcase">
                <p class="profileFIO">Дмитрий</p>
                <p class="profileFIO">Люлекин</p>
            </div>
        </section>
        <form class="profileInputsBlock">
            {{{formInputCase1}}}
            {{{formInputCase2}}}
            {{{formInputCase3}}}
            {{{formInputCase4}}}
            {{{formInputCase5}}}
        </form>
        <section class="profileBottomMenu">
            <a class="profileLinkBlue">Изменить данные</a>
            <a class="profileLinkBlue">Изменить пароль</a>
            <a class="profileLinkRed"
               href="./login.html">Выйти</a>
        </section>
    </main>
</div>
