<main class='main'>
    {{{header}}}
    <a href='./chat.html'>{{{chat1}}}</a>
    {{{chat2}}}
    {{{chat3}}}
    {{{chat4}}}
    {{{chat5}}}
    <div class='emptyChats'>
        <p class='emptyChatsText'>Чатов больше нет, начните
            <a class='emptyChatsLink'>новый!</a></p>
    </div>
</main>