<main class="loginPage">
    <h1 class="loginTitle">Регистрация</h1>
    <form class="loginForm">
        <div class="loginInputs">
            {{{formInput1}}}
            {{{formInput2}}}
            {{{formInput3}}}
            {{{formInput4}}}
            {{{formInput5}}}
            {{{formInput6}}}
            {{{formInput7}}}
        </div>
        <div class="loginBottomButtons">
            {{{button}}}
            <a class="loginLink"
               href="./login.hbs">Войти</a>
        </div>
    </form>
</main>
