<main class='registerPage'>
    <h1 class='registerTitle'>Регистрация</h1>
    <form id='registerForm' class='registerForm'>
        <div class='registerInputs'>
            {{{formInputCase}}}
            {{{formInputCase2}}}
            {{{formInputCase3}}}
            {{{formInputCase4}}}
            {{{formInputCase5}}}
            {{{formInputCase6}}}
            {{{formInputCase7}}}
        </div>
        <div class='registerBottomButtons'>
            {{{button}}}
            <a class='registerLink' href='./login.hbs'>Войти</a>
        </div>
    </form>
</main>