<main class="loginPage">
    <h1 class="loginTitle">Регистрация</h1>
    <form id="registerForm" class="registerForm">
        <div class="loginInputs">
            {{{formInputCase}}}
            {{{formInputCase2}}}
            {{{formInputCase3}}}
            {{{formInputCase4}}}
            {{{formInputCase5}}}
            {{{formInputCase6}}}
            {{{formInputCase7}}}
        </div>
        <div class="loginBottomButtons">
            {{{button}}}
            <a class="loginLink"
               href="./login.hbs">Войти</a>
        </div>
    </form>
</main>
